$font-stack: "Helvetica"
$text-color: #FFF 
$text-color-secundary: #A6A6A6
$body-bg-color: #271B31
$bg-color: #111 
$bg-color-secundary: #1D1D1D
$conatiner-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%)
