@use '../variables'

.project-conatainer
    margin-bottom: 1rem
    
    .project-grid
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

        img
            height: auto
            width: 250px