@use '../variables'
@use '../mixins'

.project-conatainer
    margin-bottom: 1rem
    
    .project-grid
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

    .project-card
        @include mixins.center
        flex-direction: column
        border: 1px solid #333
        border-radius: variables.$card-border-radius
        padding: 1rem

        img
            height: auto
            width: 300px

        h3
            color: variables.$text-color

        a
            padding: 0.7rem 1.2rem